.header-principal{
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.header-alternative{
    background-color: #000;
}
.header-principal-firstcontainer{
    margin: 0 auto;
    padding: 5rem 16rem;
}

.header-principal-secondcontainer{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    width:8rem;
}

.main-principal{
    margin: 0 auto;
    padding: 2rem 3rem;
}

.navegacion{
    display: flex;
    gap: 2rem;
}

.link{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.active-link{
    color:orange;
    text-transform: uppercase;
    font-weight:bold;
}
.formulario{
    background-color: orange;
    margin:2rem 0;
    padding:1rem;
    border-radius: 1rem; 
    box-shadow: 0.5rem 0.5rem 0.5rem black;    

}

@media (min-width:768px) {
    .formulario{
        width: 50%;
    }
}
@media (min-width:1536px){
    .formulario{
        width:33.33%;
    }
}
.formulario__container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.formulario__label{
    color: text-white;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 0.8rem;
}
.formulario__input, .formulario__select{
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color:black;
}
.formulario__button{
    background-color: rgba(248, 123, 7, 0.897);
    cursor:pointer;
    color: white;
    font-weight: bolder;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-transform:uppercase;
    margin:0.8rem 0 0;
}
.formulario__button:hover{
    background-color: rgba(248, 123, 7, 0.5);
}

.principal__title, .favorites__title{
    font-size:4rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.recipes,.favorite__container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.recipes__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.recipes__container__image{
    overflow:hidden;
}

.recipes__image{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.recipes__image:hover{
    transform:scale(1.1) rotate(2deg);
}

.recipes__title{
    font-size: 1rem;
    text-align: center;
    color: black;
    font-weight: 400;
    padding:0.5rem;
}
.notfound{
    margin: 5rem 0;
    text-align: center;
    font-size:1rem;
}
.recipes__button{
    background-color: orange;
    padding: 0.5rem;
    width:100%;
    color: white;
    font-size: 1rem;
    font-weight:500;
}
.recipes__button:hover{
    background-color:#fb8500;
}
.spinner {
    position: relative;
    width: 15.7px;
    height: 15.7px;
    margin: 3rem auto;
 }
 
 .spinner div {
    animation: spinner-4t3wzl 1.875s infinite backwards;
    background-color: #fb8500;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
 }
 
 .spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: #fb8500;
 }
 
 .spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: #fb8500;
 }
 
 .spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: #fb8500;
 }
 
 .spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color:#fb8500;
 }
 
 .spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: #fb8500;
 }
 .container__buttons{
    display: flex;
    justify-content: space-between;
    gap:2rem;
    margin-top:5;
 }
 
 .container__cerrar{
    padding: 0.5rem;
    font-weight: bold;
    text-transform:uppercase;
    color:white;
    box-shadow: 2px 2px 5px 1px gray;
    width: 100%;
    border-radius: 0.5rem;
    background-color: gray;
 }
 .container__cerrar:hover{
    opacity: 0.5;
 }
 .container__favorites{
    padding: 0.5rem;
    font-weight: bold;
    text-transform:uppercase;
    color:white;
    box-shadow: 2px 2px 5px 1px orange;
    width: 100%;
    border-radius: 0.5rem;
    background-color: orange;
 }

 @keyframes spinner-4t3wzl {
    0% {
       transform: rotate(0deg) translateY(-200%);
    }
 
    60%, 100% {
       transform: rotate(360deg) translateY(-200%);
    }
 }

@import "tailwindcss";