.header-principal{
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.header-alternative{
    background-color: #000;
}
.header-principal-firstcontainer{
    margin: 0 auto;
    padding: 5rem 16rem;
}

.header-principal-secondcontainer{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    width:8rem;
}

.main-principal{
    margin: 0 auto;
    padding: 2rem 3rem;
}

.navegacion{
    display: flex;
    gap: 2rem;
}

.link{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.active-link{
    color:orange;
    text-transform: uppercase;
    font-weight:bold;
}
.formulario{
    background-color: orange;
    margin:2rem 0;
    padding:1rem;
    border-radius: 1rem; 
    box-shadow: 0.5rem 0.5rem 0.5rem black;    

}

@media (min-width:768px) {
    .formulario{
        width: 50%;
    }
}
@media (min-width:1536px){
    .formulario{
        width:33.33%;
    }
}
.formulario__container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.formulario__label{
    color: text-white;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 0.8rem;
}
.formulario__input, .formulario__select{
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color:black;
}
.formulario__button{
    background-color: rgba(248, 123, 7, 0.897);
    cursor:pointer;
    color: white;
    font-weight: bolder;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-transform:uppercase;
    margin:0.8rem 0 0;
}
.formulario__button:hover{
    background-color: rgba(248, 123, 7, 0.5);
}

.principal__title{
    font-size:4rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.recipes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.recipes__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.recipes__container__image{
    overflow:hidden;
}

.recipes__image{
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.recipes__image:hover{
    transform:scale(1.1) rotate(2deg);
}

.recipes__title{
    font-size: 1rem;
    text-align: center;
    color: black;
    font-weight: 400;
    padding:0.5rem;
}
.notfound{
    margin: 5rem 0;
    text-align: center;
    font-size:4rem;
}
.recipes__button{
    background-color: orange;
    padding: 0.5rem;
    width:100%;
    color: white;
    font-size: 1rem;
    font-weight:500;
}
.recipes__button:hover{
    background-color:#fb8500;
}
@import "tailwindcss";